<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
    <title>Cake</title>
    <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>
        <link rel="stylesheet" href="app.css" />
    </head>
    <body>
        <div class="container">
            <h1>&#x2728;Cake Filter&#x2728;</h1>
            <div id="searchWrapper">
                <input
                    type="text"
                    name="searchBar"
                    id="searchBar"
                    placeholder="Search your Cake database"
                />
            </div>
            <ul id="cakeFilter"></ul>
        </div>
        <script src="index.js"></script>
    </body>
</html>
